* {
    margin: 0;
    padding: 10px;
    overflow: hidden;
    font-family: 'Kavoon', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: #edf1fd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
li {
    list-style: none;
    cursor: pointer;
}
a {
    text-decoration: none;
}
button {
    background-color: #129b9b;
    padding: 4px 10px;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: 600;
}
button:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
}
nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
nav .logo {
    font-weight: 700;
    font-size: 30px;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}
nav ul li:hover {
    text-decoration: underline;
    font-weight: 900;
}
.search-field {
    display: flex;
    gap: 35px;
}
input {
    padding: 4px 10px;
}
.hero-section {
    display: flex;
    align-items: center;
    align-content: center;
}
.hero-left-section h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}
.hero-left-section h1 span {
    color: #129b9b;
    font-weight: 900;
    font-size: 2.5rem;
}
.hero-left-section p {
    font-weight: 500px;
}
.hero-left-section p span {
    font-weight: 700;
    font-size: 25px;
    color: #129b9b;
}
.hero-right-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.hero-right-section-btns {
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-right-section img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
footer{
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-around;
}
footer p {
    font-weight: 600;
}
footer ul {
    display: flex;
    gap: 15px;
    align-items: center;
}
footer ul li a i:hover {
    text-decoration: overline;
    font-weight: 900;
}